


.raleway-<normal> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-<normal> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title{
    font-weight:black;
    font-size: 34px;
    color: #4E47FF;
}

/* shared styles */
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size:16px ;
    padding:12px 36px ;
    color: white;
    border-radius: 10px;
    border:none ;


}
/* banner styles */
.banner{
    font-size: 65px;
    font-weight: bold;
    padding:309px 267.5px 152px ;
    max-width: 905px;
    max-height:237px ;
    text-align: center;
}
/* header */
header{
    background-image:url(/Assets/Hero-bg.png);
}
/* main styles */
.section-title{
    font-weight: bold;
    font-size: 42px;
}
p{
    font-size:24px ;
    font-weight: 400;
}
.action{
    display: flex;
    justify-content: space-between;
    margin:116px 148px 0 129px ;
}
img{
    border-radius: 48px;
    
}
/* productive users styles */
.productive-users{
    background-color:#D6DDED;
    border-radius:24px ;
    margin: 116px 141px 0 159px;
    text-align: center;
    padding:50px 142px ;

}
.brief-description{
    display: flex;
    justify-content: space-around;

}
.digit{
    font-size: 80px;
    font-weight: bold;
    color: blue;
}
.sub-title{
    color:#000000 ;
    font-size: 20px;
    font-weight: 400;
}
.title{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}
