


.raleway-<normal> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-<normal> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title{
    font-weight:black;
    font-size: 34px;
    color: #4E47FF;
}

/* shared styles */
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size:16px ;
    padding:12px 36px ;
    color: white;
    border-radius: 10px;
    border:none;
}
button:hover{
    background-color: rgb(237, 173, 54);
    color: black;
    
}
/* banner styles */
.banner{
    font-size: 65px;
    font-weight: bold;
    padding:309px 267.5px 152px ;
    max-width: 905px;
    max-height:237px ;
    text-align: center;
}
/* header */
header{ 
    background-image: url(/assets/hero-bg.png);}
    
/* action styles */
.section-title{
    font-weight: bold;
    font-size: 42px;
}
p{
    font-size:24px ;
    font-weight: 400;
}
.action{
    display: flex;
    justify-content: space-between;
    margin:0 148px 129px ;
}
.text{margin-top:116px;

}
.logo{
    border-radius: 48px;
    margin-top:116px;

}
/* productive users styles */
.productive-users{
    background-color:#D6DDED;
    border-radius:24px ;
    margin: 116px 141px 0 159px;
    text-align: center;
    padding:50px 142px ;

}
.brief-description{
    display: flex;
    justify-content: space-around;

}
.digit{
    font-size: 80px;
    font-weight: bold;
    color: blue;
}
.sub-title{
    color:#000000 ;
    font-size: 20px;
    font-weight: 400;
}
.title{
    font-size:32px;
    font-weight: bold;
    color: #252432;
}
/* feedback styles */
.woman{
    border-radius: 50%;
}
.heading{
text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-top: 137px;
}
.feedback-container{
    display: flex;
   gap: 20px;
    justify-content: center;
    margin:50px 149px 0 151px ;
}
.feedback{
    width: 320px;
    height: 215px;
    box-shadow:0 4px 4px 0 #B3B3B3 ;
    border-radius: 14px;
    padding:24px 30px 24px 24px;
    
}
.feedback-title{
    font-size: 24px;
    margin-bottom:8px ;
}
.feedback-subtititle{
    margin-top:0px;
    font-size: medium;
    font-weight: 100px;
 }   
.info{
    padding-left: 10px;
    font-size:medium;
    
}
.about{
    display: flex;
}
.feedback-subtititle{
    color:#1E1E1E;
}  
.name{
    color:#757575;
}
.date{
    color:#B3B3B3;
    
}
/* contact styles */
form{
    
    display:flex;
    flex-direction: column;
    margin-bottom: 50px;}
    
 


.contact{
   margin: 100px 150px;
    display: flex;
    align-items: center;
    gap:115px;
    justify-content: center;
}
input{
    padding-left: 32px;
    height: 70px;
    width:497px;
    border-radius: 10px;
    font-size:20px ;
    font-weight: 400px;
    border: none;
}
textarea{
    height: 135px;
    width:497px;
    border-radius:10px;
    font-size: 20px;
    font-weight: 400px;
    padding-left: 32px;
    padding-top: 20px;
    border: none;
    
}
.submit{
    height:62px ;
    width:534px;
    background-color: #4E47FF;
    font-weight: bold;
    font-size:16px ;
    padding:12px 36px ;
    color: white;
    border-radius: 10px;
    border:none ;
    margin-top: 18px;
}
h1{
    font-size:97px ;
    font-weight: bold;
}
label{
    margin-bottom: 5px;
    margin-top: 15px;
    font-size: 18px;
    font-weight:bold; color: #000000;
}


/* main styles */
main{
    background-color:#F5F8FF;
}
/* footer styles */
.links{
   justify-content: center;
   display: flex;
   gap: 48px;
   
}
.no-underline{
    text-decoration: none;
}
.website-name{
    text-align: center;
    font-weight:black ;
    font-size: 100px;
    color: #4F49FF;
    margin-bottom: 8px; 

}
.break{
    text-align: center;
}
.sub-title{
    text-align: center;
    color: #8987A1;
    margin-top: 0;
}
footer{
    margin-top: 104px;
    margin-bottom: 103px;
}